h1 {
  font-family: Fantasy;
  color: purple;
  font-size: 30px;
}
p {
  width: 500px;
  line-height: 1.5;
}
h2 + p::first-letter {
  color: white;
  background-color: black;
  border-radius: 2px;
  box-shadow: 3px 3px 0 rgb(234, 12, 12);
  font-size: 250%;
  padding: 6px 3px;
  margin-right: 6px;
  float: left;
}

ul {
  list-style-type: none;
}

ol {
  font-weight: bold;
}

li {
  list-style: none;
  text-align: center;
  border: 1px solid purple;
  border-radius: 10px;
  color: rebeccapurple;
  background-color: thistle;
  padding-left: 30px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}

body {
  font-family: sans-serif;
}

h3 {
  text-decoration: underline;
}

p {
  padding-top: 20px;
  padding-bottom: 20px;
}

ul,
ol {
  padding-left: 30px;
}
